.sidebar {
    background-color: #292D39;
    height: 100vh;
    width: 5.4rem;

    ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        list-style: none;

        li {
            color: #969090;
            cursor: pointer;

            &:hover {
                color: #fff;
            }
            .icons {
                font-size: 30px;
            }
            img {
                width: 8rem;
                height: 8rem;
                margin-top: -2rem;
            }
        }
    }
}